@import "../../../../Tools/colors/colors.scss";

.CardsToggle {
    color: $primaryIconColor;
    height: 40px;  
    width: 40px;
    background-color: transparent;
    transition: .3s ease;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: $primaryBackgroundIconColorHover;
    }

    & svg {
        font-size: 23px
    }
}
