.title__icon {
  transform: translateY(0px);
  position: absolute;
  right: 7.5px;
  top: 5px;
  z-index: 100;
}

.title__svg {
  position: absolute;
  top: 8px;
  right: 7px;
  width: 23px;
  height: 23px;

  color: #757575;
  cursor: pointer;

  & svg {
    width: 100%;
    height: 100%;
  }

  &:hover svg {
    color: #212121;
  }
}
