.Tcomponent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: transparent;
  padding: 20px 15px 0 15px;
}

.Tcomponent__title {
  width: 100%;
  pointer-events: none;
  background: transparent;
  position: absolute;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: .00625em;
  color: var(--mainText-color);
}

.Tcomponent__title-text {
  background: transparent;
  font-family: 'Roboto', sans-serif;
  height: 25px;
  font-size: 18px;
  color: var(--mainText-color);
  font-weight: 600;
  resize: none;
  border: none;
  z-index: 20;
  width: 100%;
  outline: none;
}